$browser-default-font-size: 100px !default;
$browser-default-color: #eceef3 !default;
$browser-default-color-gary: #7e8387 !default;
$browser-default-color-blue: linear-gradient(-180deg, #008cee 0%, #36acfe 100%) !default;
$browser-default-image-blue: linear-gradient(-180deg, #008cee 0%, #36acfe 100%) !default;
$browser-default-color-white: #ffffff !default;
$browser-default-color-pale-blue: #d5ecf4 !default;
$browser-default-color-dark-gray: #333333 !default;
$browser-default-color-light-gray: rgb(245, 245, 249);